body {
  background-color: var(--clr-background);

  --clr-background: #84afd4;
  --clr-node-type-on: #43ff43;
  --clr-node-type-off: #827979;
  --clr-search-algo-button: #67bdff;
  --clr-maze-algo-button: #f7f753;
  --clr-reset-button: #ff4040;

  --clr-target-node: #43ff43;
  --clr-wall-node: #3b3a3a;
  --clr-visited-node: #fbff00;
  --clr-stack-node: #ff6600;
  --clr-main-path-node: #0475ff;
  --clr-label: #ff67ed;
}

.App {
  display: grid;
  place-items: center;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.board {
  display: grid;
  grid-template-rows: repeat(25, 18px);
  grid-template-columns: repeat(63, 18px);
}

.board button {
  width: 18px;
  height: 18px;
  border: none;
  outline: 1px black solid;
}

.board button:hover {
  transform: scale(1.5);
}

.node-type-target-button,
.node-type-wall-button,
.maze-algo-button,
.search-algo-button,
.search-selector-label,
.node-type-selector-label,
.maze-selector-label,
.maze-generating-message,
.current-search-algo-display {
  width: 140px;
  height: 40px;
  border: 1px black solid;
  border-radius: 5%;
  outline: none;
  padding: 0;
  font-weight: 525;
}

:where(
    .node-type-target-button,
    .node-type-wall-button,
    .maze-algo-button,
    .search-algo-button
  ):hover {
  transform: translate(0px, -2px);
}

:where(
    .node-type-target-button,
    .node-type-wall-button,
    .maze-algo-button,
    .search-algo-button
  ):active {
  transform: translate(0px, 2px);
}

.node-type-target-button {
  background-color: var(--clr-node-type-on);
}

.node-type-wall-button {
  background-color: var(--clr-node-type-off);
}

.search-algo-button {
  background-color: var(--clr-search-algo-button);
}

.search-algo-button#reset {
  background-color: var(--clr-reset-button);
  position: absolute;
  right: 0;
}

.maze-algo-button {
  background-color: var(--clr-maze-algo-button);
}

.maze-algo-button#reset {
  background-color: var(--clr-reset-button);
  position: absolute;
  right: 0;
}

.target-node {
  background-color: var(--clr-target-node);
}

.wall-node {
  background-color: var(--clr-wall-node);
}

.visited-node {
  background-color: var(--clr-visited-node);
}

.stack-node {
  background-color: var(--clr-stack-node);
}

.main-path-node {
  background-color: var(--clr-main-path-node);
}

.node-type-selector {
  display: flex;
  height: 40px;
}

.search-selector {
  display: flex;
  height: 40px;
  position: relative;
}

.maze-selector {
  display: flex;
  height: 40px;
  position: relative;
}

.node-type-selector-label {
  display: grid;
  place-content: center;
  margin: none;
  background-color: var(--clr-label);
  border: none;
  border-radius: 0%;
}

.search-selector-label {
  display: grid;
  place-content: center;
  margin: none;
  background-color: var(--clr-label);
  border: none;
  border-radius: 0%;
}

.maze-selector-label {
  display: grid;
  place-content: center;
  margin: none;
  background-color: var(--clr-label);
  border: none;
  border-radius: 0%;
}

.info-display {
  display: flex;
  gap: 15px;
  font-weight: 550;
}

.maze-generating-message {
  width: 300px;
  height: 38px;
  display: grid;
  place-items: center;
  background-color: var(--clr-reset-button);
}

.current-search-algo-display {
  width: 200px;
  height: 38px;
  display: grid;
  place-items: center;
  background-color: var(--clr-reset-button);
}
