body {
  background-color: rgb(132, 175, 212);
}

.App {
  display: grid;
  place-items: center;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.board {
  display: grid;
  grid-template-rows: repeat(27, 18px);
  grid-template-columns: repeat(63, 18px);
}

.board button {
  width: 18px;
  height: 18px;
  border: none;
  outline: 1px black solid;
}

.board button:hover {
  transform: scale(1.5);
}

.node-type-target-button,
.node-type-wall-button,
.maze-algo-button,
.search-algo-button,
.search-selector-label,
.node-type-selector-label,
.maze-selector-label {
  width: 140px;
  height: 40px;
  border: 1px black solid;
  border-radius: 5%;
  outline: none;
  padding: 0;
  font-weight: 525;
}

:where(
    .node-type-target-button,
    .node-type-wall-button,
    .maze-algo-button,
    .search-algo-button
  ):hover {
  transform: translate(0px, -2px);
}

:where(
    .node-type-target-button,
    .node-type-wall-button,
    .maze-algo-button,
    .search-algo-button
  ):active {
  transform: translate(0px, 2px);
}

.search-algo-button {
  background-color: #67bdff;
}

.search-algo-button#reset {
  background-color: #ff4040;
}

.maze-algo-button {
  background-color: #f7f753;
}

.maze-algo-button#reset {
  background-color: #ff4040;
}

.node-type-target-button {
  background-color: #43ff43;
}

.node-type-wall-button {
  background-color: #827979;
}

.target-node {
  background-color: #43ff43;
}

.wall-node {
  background-color: #3b3a3a;
}

.visited-node {
  background-color: rgb(251, 255, 0);
}

.stack-node {
  background-color: rgb(255, 102, 0);
}

.main-path-node {
  background-color: rgb(4, 117, 255);
}

.node-type-selector {
  display: flex;
  height: 40px;
}

.search-selector {
  display: flex;
  height: 40px;
}

.maze-selector {
  display: flex;
  height: 40px;
}

.node-type-selector-label {
  display: grid;
  place-content: center;
  margin: none;
  background-color: #ff67ed;
  border: none;
  border-radius: 0%;
}

.search-selector-label {
  display: grid;
  place-content: center;
  margin: none;
  background-color: #ff67ed;
  border: none;
  border-radius: 0%;
}

.maze-selector-label {
  display: grid;
  place-content: center;
  margin: none;
  background-color: #ff67ed;
  border: none;
  border-radius: 0%;
}
